{% extends "layout.html" %}
{% block body %}
<h1>serendipity</h1>
<p>Hey, this place also hosts [x] Meetup! That's pretty cool because I've been meaning to get into [x]...</p>
<p>serendipity: luck that takes the form of finding valuable or pleasant things that are not looked for</p>
<p>If you like pleasant surprises and checking in to your favorite spots on Swarm (formerly Foursquare), sign up for this app in two easy steps. To get started, please make sure to connect to Swarm/Foursquare ;)</p>
<p>
    <a class="btn btn-primary btn-large" href="/connect_foursquare">Connect with Foursquare </a>

</p>
{% endblock %}
